<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body id="home">


  <div> </div>
  <div id="menu">
    <img class="avatar" src="<%= userLogged.imageURL %>">
    <h6>Bonjour <%= userLogged.firstName %> </h6>
    <ul>
      <li><a href="account.html">Mon compte</a></li>
      <li><a href="order.html">Mes commandes</a></li>
    </ul>
  </div>

  <div id="content">

    <form action="/accountUpdate" method="POST">
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="firstName" value="<%= userLogged.firstName%>">
        </div>
        <div class="form-group">
          <input class="form-control form-control-sm" type="text" name="lastName" value="<%= userLogged.lastName%>">
        </div>
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" name="email" value="<%= userLogged.email%>">
        </div>
            <div class="form-group">
              <input class="form-control form-control-sm" type="text" name="phone" value="<%= userLogged.phone%>">
        </div>
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" name="address" value="<%= userLogged.address%>">
        </div>
                <div class="form-group">
                  <input class="form-control form-control-sm" type="text" name="zipcode" value="<%= userLogged.zipcode%>">
        </div>
                  <div>
                    <input class="btn btn-info btn-sm" type="submit" value="Modifier">
        </div>
                    <input name="id" class="btn btn-info btn-sm" type="hidden" value="<%=userLogged.id%>">

      </form>


                  </div>

                  <div id="menu-right">
                    <ul>
                      <li>
                        <form action="/order" method="post">
                          <button class="picto" type="submit" src="./images/basket.svg"></button>
                        </form>
                      </li>
                      <li><a href="/logout"><img class="picto" src="./images/logout.svg"></a></li>
                    </ul>
                  </div>

</body>

</html>
